*{
	padding: 0;
	margin: 0;
}

ul{
	list-style: none;
}

.wrapper{
	width: 1170px;
}

.redspan{
	color:red;
}

a{
	text-decoration: none;
	color:black;
}

h4{
	font-size: 30px;
	font-family: Raleway, Arial, Times New Roman;;
}